.modalOverlay {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  inset: 0;

  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  .modalBox {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 8px;

    .modalHeader {
      display: flex;
      justify-content: space-between;
      padding: 0.875rem;
      border-radius: 8px 8px 0 0;
      background-color: var(--color-primary);

      h2 {
        color: white;
        margin: 0;
      }

      button {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);
        font-weight: var;
      }
    }

    .modalContent {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid var(--gray-100);
      padding: 0.875rem;
      background-color: white;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        padding: 0;
        width: 100%;
      }
    }

    .modalTotal {
      display: flex;
      flex-direction: column;
      padding: 0.875rem;
      gap: 0.5rem;

      div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        span {
          font-weight: bold;
        }

        .price {
          color: var(--gray-300);
          font-weight: var(--font-weight-body-600);
        }
      }

      button {
        height: 60px;
        border-radius: 8px;
        background-color: var(--gray-200);
        color: white;
        font-weight: bold;
        font-size: var(--font-size-headline);
      }
    }
  }
}

button {
  cursor: pointer;
}
